
      header {
        background-color: gray;
        height: 2em;
        width: auto;
        border-bottom: 4mm ridge rgba(192, 50, 220, 0.342);
        border-radius: 10px;
      }

      a {
        padding: 1em;
        font-size: 2em;
        font-family: "Times New Roman", Times, serif;
        text-decoration: none;
        color: white;
        margin-top: 100px;
      }

      input,
      textarea,
      select {
        border-radius: 10px;
        width: 100%;
        height: 2em;
        border-width: 1px;
        border-color: green;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .container {
        background-color: lightblue;
        width: 50%;
        margin: auto;
        padding: 10px;
      }

      footer {
        text-align: center;
        width: 100%;
        background-color: gray;
        font-size: 2em;
      }

      .register-btn {
        width: 100%;
        height: 2em;
        box-sizing: border-box;
        border-radius: 10px;
        color: blue;
        border-color: blue;
        background-color: aqua;
      }

      table {
        width: 100%;
        background-color: gray;
        border-radius: 5px;
      }

      tr {
        border-radius: 100px;
        background-color: lightblue;
        text-align: center;
      }

      td {
        font-size: 1em;
        font-family: Georgia, Times, "Times New Roman", serif;
      }

      button {
        border-radius: 5px;
      }